// colours
$white-colour: #fff;
$black-colour: #000;
$header-colour: #95959d;
$shadow-colour: rgba(43,59,93,0.29);
$svg-colour: #597a90;

$shortTransitionDuration: 400ms; // NOTE: please use ms only as imported to js
$longTransitionDuration: 700ms; // NOTE: please use ms only as imported to js
